*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@font-face {
 font-family: "IBM Plex Sans";
 src: local("IBM Plex Sans"),
  url("./fonts/IBM/IBMPlexSans.eot") format("embedded-opentype"),
  url("./fonts/IBM/IBMPlexSans.woff2") format("woff2"),
  url("./fonts/IBM/IBMPlexSans.woff") format("woff"),
  url("./fonts/IBM/IBMPlexSans.ttf") format("truetype"),
  url("./fonts/IBM/IBMPlexSans.svg") format("svg");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

:root {
 --darkColor: #222;
 --orangeColor: #dc9814;
 --greenColor: #3bb54a;
 --redColor: #e2401c;
 --transition: all 0.5s ease;
}

body {
 font-family: "IBM Plex Sans", sans-serif;
 color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
}

ul {
 list-style: none;
 padding: 0;
}

a {
 text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background-color: var(--darkColor);
}

::-webkit-scrollbar-thumb {
 background-color: var(--orangeColor);
 border-radius: 20px;
}

.section-pd {
 padding: 4rem 0;
}

.section-border {
 border-top: 1px solid rgb(240, 240, 240);
}

.section-title {
 margin-bottom: 4rem;
}

.section-title h2 {
 font-size: 36px;
 font-weight: 600;
 color: var(--darkColor);
 margin-bottom: 0.75rem;
 text-align: center;
}

.section-title p {
 width: 50%;
 text-align: center;
 margin: auto;
}

@media (max-width: 767px) {
 .section-title h2 {
  font-size: 26px;
 }

 .section-title p {
  width: 90% !important;
  font-size: 13px;
 }
}
